* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  min-height: 100%;
  width: 100%;
}

#root {
  min-height: 100vh;
}


/* Header: fixed en la parte superior */
.header {
  background-color: white;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 60px;
  right: 0;
  height: 70px;
  z-index: 99;
}

.header-logo {
  height: 140px;
  width: auto;
  object-fit: contain;
 
}

/* Contenido: scrolleable entre header y footer */
.content {
  margin-left: 60px;
  margin-top: 60px; /* altura del header */
  margin-bottom: 60px; /* altura aproximada del footer */
  padding: 20px;
  min-height: calc(100vh - 60px - 60px);
}



/* Footer: fixed en la parte inferior */
.footer {
  background-color: #813405;
  color: white;
  text-align: center;
  padding: 12px;
  position: fixed;
  bottom: 0;
  left: 60px;
  right: 0;
  z-index: 99;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}